* {-webkit-font-smoothing: antialiased}


h2 {

	&.subheader{
		font-size: rem-calc(30);
	}
}


section.content{
	padding: rem-calc(80 0);
}

p {
	color: white;
}

.icon-chart p {
	margin-bottom: 40px;
}