.begriff {
	text-align: center;
}

.begriff .section-text {
	margin: 0 20%;
}

.section-headline {
	font-size: 3em;
	color: #BA2D0B;
	padding-top: 60px;
	margin-bottom: 30px;
}

.section-text {
	font-size: 1.2em;
	text-align: left;
	color: #767676;
}