* {-webkit-font-smoothing: antialiased}


.begriff .section-text {
	margin: 0 20%;
}

h2 {
	text-align: center;
	&.subheader{
		font-size: rem-calc(30);
	}
}

.section-text {
	font-size: 1.2em;
	text-align: left;
}

section.content{
	padding: rem-calc(60 0);
}