footer{
	h2{
		font-size:rem-calc(36);
		margin-bottom: rem-calc(40);
		&.subheader{

			font-size: rem-calc(22);
		}
	}
	section{
		-webkit-transition:all .8s;
		opacity: 1;
	}
	section.reveal{
		background-color:rgba(0,0,0,0) !important; 
	}
} 

@media #{$medium-up} {
	footer{
	h2{
		font-size:rem-calc(80);
		margin-bottom: rem-calc(20);
		&.subheader{

			font-size: rem-calc(46);

		}
	}
} 
}

@media #{$large-up} {
  footer{
	h2{
		font-size:rem-calc(120);
		margin-bottom: 0;
		&.subheader{

			font-size: rem-calc(70);
			margin-top: rem-calc(-40); 
		}
	}
} 
}