.nav-icon {
display: inline-block;
  width: 60px;
 margin-top: 0;
  padding: 8px 10px;
  border-radius: 3px;
  background: rgba(255,255,255,1);
}
.top-bar.fixed{
   //margin-top: 10px;
}

.nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
  background-color: $primary-color;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

}

.top-bar.expanded{
  .nav-icon:after, 
  .nav-icon:before, 
  .nav-icon div {
    background: $secondary-color;
  }
  .nav-icon:before {
  transform: translateY(12px) rotate(135deg);
  -moz-transform: translateY(12px) rotate(135deg);
  -webkit-transform: translateY(12px) rotate(135deg);
}

.nav-icon:after {
  transform: translateY(-12px) rotate(-135deg);
  -moz-transform: translateY(-12px) rotate(-135deg);
  -webkit-transform: translateY(-12px) rotate(-135deg);
}

.nav-icon div {
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
}
